<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Ionic + Angular Budle -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Angular Main App File -->
    <script src="js/app.js"></script>

    <!-- Angular Configure -->
    <script src="js/app.config/run.js"></script>

    <!-- Angular Services -->
    <script src="js/app.services/local-database.service.js"></script>
    <script src="js/app.services/push-notification.service.js"></script>
    <script src="js/app.services/backend-service.js"></script>


    <!-- Angular Controllers -->
    <script src="js/app.controllers/header/header.controller.js"></script>
    <script src="js/app.controllers/list/list.controller.js"></script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body ng-app="mailbox">
<ion-pane>
    <ion-content>
        <div id="header" ng-controller="HeaderController as vm">
            <h1 class="title">Intellimail</h1>

            <div class="margin-top-5">
                <button class="button button-block button-dark button-wide-opacity"
                        ng-click="vm.scanBarcode();">Add new mailbox
                </button>
            </div>
            <div class="margin-top-5">
                <button class="button button-block button-dark button-wide-opacity"
                        ng-click="vm.unregisterThisDevice();">Unregister device
                </button>
            </div>

            <!--            <div class="margin-top-5">
                            <button class="button button-block button-dark button-wide-opacity"
                                    ng-click="vm.deleteLocalDatabase();">Delete database
                            </button>
                        </div>-->
        </div>
        <div id="list" class="card" ng-controller="ListCtrl as vm">
            <div class="item item-divider">
                My mailboxes
            </div>
            <div class="item item-text-wrap">
                <ion-list
                        show-delete="true">
                    <ion-item ng-repeat="box in vm.boxes">
                        <ion-delete-button ng-click="vm.removeMailbox(box)" class="ion-minus-circled"></ion-delete-button>
                        {{box.mailbox_name}}
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-pane>
</body>

</html>
